.container.svelte-jsxm96{position:relative;width:100%;height:100%}.element.svelte-jsxm96{display:inline-block;position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%)}
/* sourceMappingURL=./chunk.84ef656d.css.map */