.article.svelte-13ep4mj{padding:1rem;border:1px solid var(--col-sec-w);background-color:var(--col-sec)}.title.svelte-13ep4mj{color:var(--col-prim-s);font-size:2rem;font-weight:400;text-align:center;padding-bottom:0.7rem}.content.svelte-13ep4mj p.svelte-13ep4mj{padding-bottom:0.3rem;color:var(--col-sec-cont-w)}
/* sourceMappingURL=./chunk.fd9132b5.css.map */