@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Manjari', sans-serif;
}

html {
	font-size: 16px;
}

#g-sapper {
	height: 100vh;
	background: var(--col-sec);
	color: var(--col-sec-cont);
	overflow-y: scroll;
	scrollbar-width: thin;
}

a, a:visited {
	color: var(--col-sec-link);
	text-decoration: none;
}

a:hover, a:visited:hover {
	text-decoration: underline;
}

a[target="_blank"] {
	padding-right: 16px;
	background-position: center right;
	background-repeat: no-repeat;
	background-image: url("link-external-blue.png");
	background-size: 16px;
}

:root {
	--col-prim: rgb(17, 97, 247);
	--col-prim-s: rgb(1, 79, 224);
	--col-prim-w: rgb(38, 114, 255);
	--col-prim-err: rgb(231, 0, 0);
	--col-prim-err-s: red;
	--col-prim-err-w: rgb(230, 24, 24);
	--col-prim-war: rgb(235, 152, 0);
	--col-prim-war-s: orange;
	--col-prim-war-w: rgb(233, 159, 21);
	--col-prim-suc: rgb(0, 112, 0);
	--col-prim-suc-s: green;
	--col-prim-suc-w: rgb(13, 117, 13);
	--col-prim-cont: #eee;
	--col-prim-cont-s: white;
	--col-prim-cont-w: #ddd;
	--col-prim-link: white;

	--col-sec: white;
	--col-sec-s: rgb(221, 236, 255);
	--col-sec-w: #eee;
	--col-sec-err: rgb(231, 0, 0);
	--col-sec-err-s: red;
	--col-sec-err-w: rgb(230, 24, 24);
	--col-sec-war: rgb(235, 152, 0);
	--col-sec-war-s: orange;
	--col-sec-war-w: rgb(233, 159, 21);
	--col-sec-suc: rgb(0, 112, 0);
	--col-sec-suc-s: green;
	--col-sec-suc-w: rgb(13, 117, 13);
	--col-sec-cont: #111;
	--col-sec-cont-s: #000;
	--col-sec-cont-w: #222;
	--col-sec-link: blue;
}

@media (prefers-color-scheme: dark) {
	:root {
		--_: ;
		/* TODO: dark color scheme */
	}
}
